/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --variable-font: "Inter-Variable";
    --accent-font: 'PressStart2P';
    --card-title-weight: 715;
    --card-text-weight: 410;
    --title-size: 49px;
    --text-stroke-color: #fff;
    --title-description-size: 14px;
    --container-width: clamp(375px, 90vw, 700px);
    --container-height: clamp(527px, 90vh, 566px);
    --header-title-height: clamp(327px, 48vh, 368px);
    --modal-width: clamp(341px, 90vw, 353px);
    --btn-bkg-color: #fff;
    --btn-txt-color: #fff;
    --color-contour: #000;
    --animation-fill-color: #ff0000;
    --sparks-color: #ff0000;
    --core-color: #fff;
}